@model IEnumerable<Images.Picture>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAll.cshtml";
}


<br />

<div class="container">
    <div class="row">
        <div class="col text-right">
            @Html.ActionLink("เพิ่มสินค้า", "Create", null, new { @class = "btn btn-success" })
            @*@Html.ActionLink("เรียง", "Index", new { sortOrder = ViewBag.BrandSortParm }, new
    { @class = "btn btn-default" })*@

        </div>
    </div>
</div>

<br />
@*<div class="container">
    <div class="row">
        <div class="col text-right">
            @using ((Html.BeginForm()))
            {
                @Html.TextBox("SearchString", null, new { @placeholder = "ค้นหาชื่อหรือรุ่น" })
                <input type="submit" class="btn btn-info" value="Search" />
            }
        </div>
    </div>
</div>*@
<div class="container">
    @for (var i = 1; i <= Model.ToList().Count(); i++)
    {
        var indexItem = i - 1;
        if (i == 1 || i % 4 == 1)
        {
            @:<div class="row">
            }
            <div class="col-md-3">
                <!-- Card Component-->
                <div class="thumbnail">
                    <img class="img-responsive" style="max-width: 70%;"
                         src=@Url.Content("~/Content/images/" + (Model.ElementAt(indexItem).url)) />
                    <div class="caption">
                        <h3> @Model.ElementAt(indexItem).Name </h3>
                        <h5>ราคา: @Model.ElementAt(indexItem).Price </h5>
                        @Html.ActionLink("Details", "Details", new
                        {
                            id =
                          @Model.ElementAt(indexItem).Pic_ID
                        }, new { @class = "btn btn-info" })
                        @Html.ActionLink("Edit", "Edit", new { id = @Model.ElementAt(indexItem).Pic_ID },
                      new { @class = "btn btn-warning" })
                        @Html.ActionLink("Delete", "Delete", new
                      {
                          id =
                      @Model.ElementAt(indexItem).Pic_ID
                      }, new { @class = "btn btn-danger" })

                    </div>
                </div>

                <!-- End Card Component-->
            </div>
            if (i % 4 == 0)
            {
            @:</div>
        }
    }
</div>