
@{
    ViewBag.Title = "art";
    Layout = "~/Views/Shared/_LayoutAll.cshtml";
}



<!-- Header-->
<!-- Header   Searching-->
<header>
    <div class="hero-image">
        <div class="text-center text-white">
            <br />
            <br />
            <br />
            <br />
            <div class="input-group">
                <input type="search" class="form-control rounded" placeholder="ค้นหาภาพถ่ายตามความต้องการของคุณ" aria-label="Search"
                       aria-describedby="search-addon" />
                <button type="button" class="btn btn btn-dark">ค้นหา</button>
            </div>
            <h1 class="hero-text">
                รวมรูปภาพสวยๆพร้อมให้คุณดาวน์โหลด

            </h1>
            <p class="hero-text2">ปลดปล่อยพลังสร้างสรรค์ของคุณ</p>
        </div>
    </div>
</header>

<!-- Section-->
<section class="py-2">
    <div class="container px-4 px-lg-1 mt-5">

        รูปภาพ ภาพถ่าย และภาพสต็อกที่เกี่ยวกับศิลปะ
        <p> เรียกดู 89,931,249 ศิลปะ ภาพสต็อกที่มีให้เลือก หรือเริ่มการค้นหาใหม่ เพื่อสำรวจรูปภาพและภาพสต็อกเพิ่มเติม </p>

        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">

                <!-- Product image-->
                <img class="card-img-top" src="@Url.Content("~/Content/images/a1.jpg")" />

            </div>


            <div class="col mb-5">

                <!-- Product image-->
                <img class="card-img-top" src="@Url.Content("~/Content/images/a2.jpg")" />

            </div>
            <div class="col mb-5">

                <!-- Product image-->
                <img class="card-img-top" src="@Url.Content("~/Content/images/a3.jpg")" />


            </div>
        </div>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">

                <!-- Product image-->
                <img class="card-img-top" src="@Url.Content("~/Content/images/a4.jpg")" />

            </div>

            <div class="col mb-5">

                <!-- Product image-->
                <img class="card-img-top" src="@Url.Content("~/Content/images/a5.jpg")" />

            </div>
            <div class="col mb-5">

                <!-- Product image-->
                <img class="card-img-top" src="@Url.Content("~/Content/images/a6.jpg")" />


            </div>
        </div>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">

                <!-- Product image-->
                <img class="card-img-top" src="@Url.Content("~/Content/images/a7.jpg")" />

            </div>

            <div class="col mb-5">

                <!-- Product image-->
                <img class="card-img-top" src="@Url.Content("~/Content/images/a8.jpg")" />

            </div>
            <div class="col mb-5">

                <!-- Product image-->
                <img class="card-img-top" src="@Url.Content("~/Content/images/a9.jpg")" />


            </div>
        </div>

    </div>

</section>