@model IEnumerable<Images.OrderPic>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAll.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User_email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pic_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User_email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pic_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Order_Pic }) |
            @Html.ActionLink("Details", "Details", new { id=item.Order_Pic }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Order_Pic })
        </td>
    </tr>
}

</table>
